.navbar {
  background-color: #393333;
}

.has-search .form-control-feedback {
  margin-left: 33%;
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.has-search .form-control-feedback-2 {
  margin-left: 80%;
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.auth {
  margin-left: 5%;
  width: 100px;
  height: 60px;
  border-radius: 15px;
}

#carousel {
  height: 85vh;
  background-color: #00549D;
  min-height: 100%;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

#myCarousel h4 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #FFF;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600;
}

#myCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #d5d5d5;
}

.modul {
  margin-top: 68px;
  margin-left: 78px;
}

.modul a {
  font-size: 40px;
  color: black;
  font-weight: 500;
  margin-left: 34px;
  text-decoration: none;
}

.mycard {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.mycard a {
  text-decoration: none;
  color: black;
}

.card {
  width: 300px;
}

.card-body {
  height: 250px;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

#Rekom-Modul {
  background-color: #393333;
  width: 100%;
  height: 450px;
}

.Rekom {
  background-color: red;
  width: 100%;
  height: 20px;
}

.Rekom h1 {
  color: white;
  text-align: center;
  padding-top: 150px;
}

button.btn.btn-danger.btn-lg {
  margin-left: 45%;
}


.category,
.Respon h2 {
  padding-top: 50px;
  padding-left: 78px;
}

button.btn-category {
  margin-top: 20px;
  background-color: #aaa;
  width: 500px;
  height: 80px;
}

button.btn-category h3 {
  text-align: center;
}

img.image-logo {
  width: 50px;
  float: left;
  display: block;
  margin-left: 50px;
}

.category {
  height: 500px;
}

.Respon {
  background-color: #d5d5d5;
  width: 100%;
  height: 450px;
}

.card-respon {
  margin-top: 50px;
  width: 370px;
  height: 200px;
  margin-right: 10px;
}

img.img-respon {
  width: 100px;
  float: left;
  display: block;
}

.footer {
  width: 100%;
  background-color: #d5d5d5;
  height: 350px;
  position: relative;
}

.footer .footer-content{
  height: 300px;
}
.footer .footer-buttom {
  background-color: red;
  color: white;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}